.img-container {
    background-color: plum;
    width: 50%;
}

.vsplit-box {
    height: 50vh;
}

.vsplit-txt {
    padding: 20px;
}

.services {
    background-color: aquamarine;
    height: 45vh;
}