#title {
    font-size: 50px;
    font-weight: 700;
    margin: 6vw 2vw;
    color: white;
}

#proj-head {
    background-color: rgb(12, 12, 12);
}

.t-left {
    rotate: 90deg;
    filter: saturate(200%);
}

.t-right {
    rotate: 270deg;
    filter: saturate(200%);
}